/web/bundles/
/web/speaker/
/web/booking/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
.idea
nbproject
composer.lock
/app/config/config_local.yml
/web/vendor
/app/config/parameters_local.yml

/web/css/*
/web/js/*
/web/assetic
!/web/css/.gitkeep
!/web/js/.gitkeep
/web/images
!/web/images/.gitkeep
/data/mails
web/themes/*
!web/themes/.gitkeep
app/Resources/config/*
!app/Resources/config/.gitkeep
!/composer.lock
web/uploads/*
!web/uploads/.gitkeep
