{% block se_type_money_widget %}

<div class="input-group">
    {% if form.vars.currency %}
    <span class="input-group-addon" id="basic-addon1">{{ form.vars.currency }}</span>
    {% endif %}
    {% if form.vars.attr.readonly is defined and form.vars.attr.readonly == true %}
        <span class="form-control" {{ block('widget_attributes') }}>{{ form.vars.value }}</span>
    {% else %}
    {{ block('form_widget_simple') }}
    {% endif %}
</div>

{% endblock se_type_money_widget %}